# Northwind Traders Analysis

## Notebook setup

In [1]:
# Modules
import pandas as pd
import psycopg2
import matplotlib.pyplot as plt
import os
from sqlalchemy import create_engine
%matplotlib inline

In [12]:
# Connection info for code readability
conn_info = {
    'dbname': 'northwind',
    'user': 'postgres',
    'password': os.getenv('DB_PASSWORD'),
    'host': 'localhost',
    'port': '5432'
}


password = conn_info['password']
engine = create_engine(f'postgresql://postgres:{password}@localhost/northwind')

%load_ext sql
%sql {engine.url}

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In this project, we'll be acting as a data analyst for the North Wind Traders Company, a gourmet food distributor. Management has asked us to generate some SQL queries with our database in order to make strategic decisions about the business. We will be evaluating the company in the following four categories: 

- Evaluating employee performance to boost productivity.
- Analyzing sales growth to identify trends, monitor company progress, and make more accurate forecasts.
- And evaluating customer purchase behavior to target high-value customers with promotional incentives.

## Evaluating Employee Performance

When evaluating employee performance, we want to find both the top performers so we know who deserves a bonus and the bottom performers so we know which employees require additional training and resources.

The employees are within sales role so an obvious metric is to track total sales for each employee. This is not sufficient as different employees have different start dates which skews the data.

The other goal is to track not only which employees required additional training, but also in which areas they are under performing (sales amount, sales volume, consistency).

We would also like to be able to track these metrics over time to find which employees show improvement to offer a bonus as incentive.

### Defining performance metrics
Below we have a rudimentary ranking of the employees at the company. This give a general idea of the ranking of the employees but it is too general to be used for anything other than simple guide to who should receive a bonus.

In [13]:
%%sql
WITH employee_sales AS (
    SELECT  e.employee_id, e.first_name || ' ' || e.last_name AS employee_name,
            SUM(od.quantity * od.unit_price) AS total_sales,
            COUNT(DISTINCT o.order_id) AS order_count,
            e.hire_date
            
    FROM employees e
    JOIN orders o ON e.employee_id = o.employee_id
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY e.employee_id
)

SELECT  employee_name, ROUND(total_sales::DECIMAL, 2) as total_sales,
        RANK() OVER(ORDER BY total_sales DESC) AS sales_rank,
        order_count
FROM    employee_sales;

 * postgresql://postgres:***@localhost/northwind
9 rows affected.

[('Margaret Peacock', Decimal('250187.45'), 1, 156),
 ('Janet Leverling', Decimal('213051.30'), 2, 127),
 ('Nancy Davolio', Decimal('202143.71'), 3, 123),
 ('Andrew Fuller', Decimal('177749.26'), 4, 96),
 ('Robert King', Decimal('141295.99'), 5, 72),
 ('Laura Callahan', Decimal('133301.03'), 6, 104),
 ('Anne Dodsworth', Decimal('82964.00'), 7, 43),
 ('Michael Suyama', Decimal('78198.10'), 8, 67),
 ('Steven Buchanan', Decimal('75567.75'), 9, 42)]

We will transform this data to track three performance metrics for each employee every month.
- Order count: How many sales were made.
- Total amount: The total sales for that month. This will be the main determiner of high performance bonuses.
- Average order value: This helps us track which employees can sell the 'big ticket' items.

There will also be a table which is aggregate average of all of these metrics. This will let us not only see which employees are improving or stagnating, but also allow us track employee consistency.

In [ ]:
# Query to get the metrics for each employee by month
query = """
WITH employee_sales AS (
    SELECT  e.employee_id, e.first_name || ' ' || e.last_name AS employee_name,
            SUM(od.quantity * od.unit_price) AS total_sales,
            EXTRACT(YEAR FROM o.order_date) AS order_year,
            EXTRACT(MONTH FROM o.order_date) AS order_month,
            COUNT(DISTINCT o.order_id) AS order_count
            
    FROM employees e
    JOIN orders o ON e.employee_id = o.employee_id
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY e.employee_id, order_year, order_month
)
SELECT  employee_name, TO_DATE(order_year || '-' || order_month, 'YYYY-MM') AS order_date, 
        ROUND(total_sales::DECIMAL, 2) AS total_sales,
        order_count,
        ROUND((total_sales/order_count)::DECIMAL, 2) AS avg_order_amount     
FROM   employee_sales
"""

with psycopg2.connect(**conn_info) as conn:
    employee_metrics_by_month = pd.read_sql(query, conn)

In [ ]:
#Get a separate dataframe for each employee
employees = employee_metrics_by_month['employee_name'].unique()
employee_data = {employee: employee_metrics_by_month[employee_metrics_by_month['employee_name'] == employee].copy() for employee in employees}

#Add an 'employee' who is the average of all employees fo comparison
employee_data['Average'] = employee_metrics_by_month.pivot_table(index='order_date', values=['total_sales', 'order_count', 'avg_order_amount'], aggfunc='mean').reset_index()

# Create a moving average for each employee
for employee, data in employee_data.items():
    data['total_sales_rolling'] = data['total_sales'].copy().rolling(window=3).mean()
    data['order_count_rolling'] = data['order_count'].copy().rolling(window=3).mean()
    data['avg_order_amount_rolling'] = data['avg_order_amount'].copy().rolling(window=3).mean()

In [ ]:
#Plot the data
fig, axs = plt.subplots(3, 1, figsize=(15, 20))
for employee, data in employee_data.items():
    axs[0].plot(data['order_date'], data['total_sales_rolling'], label=employee)
    axs[1].plot(data['order_date'], data['avg_order_amount_rolling'], label=employee)
    axs[2].plot(data['order_date'], data['order_count_rolling'], label=employee)
for ax in axs:
    ax.set_xlabel('Date')

# Legend
axs[0].legend(loc='upper left')
axs[1].legend(loc='upper left')
axs[2].legend(loc='upper left')

# Set title for each subplot
axs[0].set_title('Total Sales')
axs[1].set_title('Average Order Amount')
axs[2].set_title('Order Count')
plt.subplots_adjust(hspace=0.2)

In [ ]:
# Correlation between the metrics for each employee
employee_metrics_by_month.pivot_table(index='employee_name', values=['total_sales', 'order_count', 'avg_order_amount'], aggfunc='mean').corr()

In [ ]:
# Get average values for each employee
employee_metrics_by_month.pivot_table(index='employee_name', values=['total_sales', 'order_count', 'avg_order_amount'], aggfunc='mean')

There are several takeaways from the above graphs.
1. Average order amount seems to have high variance across all time periods and employees, meaning it is a metric highly dependent on chance and thus not a good metric to determine employee effectiveness.
2. The order amount has a strong correlation with total sales (*r=0.93*) and hence is a good metric for determining the effectiveness of an employee and thus should be the metric we most want to encourage in the employees.
3. While average order amount has high variance, it still correlates with total sales with value of *r=0.33* and should also rewarded, albeit to a lesser degree.

## Running Total of Monthly Sales
Now that we have some useful insight on individual employee performance, we can look at changes that are more macroscopic level. Let's start by creating a running total of monthly sales to track the companies progress.

In [ ]:
%%sql
WITH monthly_sales AS (
    SELECT  DATE_TRUNC('month', o.order_date) AS month,
            SUM(od.quantity * od.unit_price) AS total_sales
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY month
)

SELECT  month,
        ROUND(total_sales::numeric, 2),
        ROUND(SUM(total_sales) OVER(ORDER BY month
                                    ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW)::numeric, 2) AS running_total
FROM monthly_sales;

## Month by Month Sale Growth
It would be useful to see these month by month sales figures as represented in the change between each month. To do this, we're going to calculate the percentage change each month as compared to its previous month.

In [ ]:
%%sql
WITH monthly_sales AS (
    SELECT  DATE_TRUNC('month', o.order_date) AS month,
            SUM(od.quantity * od.unit_price) AS total_sales
    FROM orders o
    JOIN order_details od ON o.order_id = od.order_id
    GROUP BY month
),
monthly_sales_change AS (
    SELECT  month,
            total_sales,
            LAG(total_sales) OVER(ORDER BY month) AS last_month_sales
    FROM monthly_sales
)

SELECT  month,
        '$' || ROUND(total_sales::numeric, 2) AS total_sales,
        ROUND(((total_sales - last_month_sales) / last_month_sales * 100)::numeric, 2) || '%' AS sales_growth_pct
FROM monthly_sales_change;

## Identifying High Value Customers
Now let's change our attention to a different aspect of the business: the customers. We want to identify the top 10 customers that are considered 'high value' in order to target particular promotions and specials towards them. We define 'high value' by the percentage of orders that customer makes that are above the average order value.

In [ ]:
%%sql
WITH
customer_sales AS (
    SELECT  c.customer_id,
            c.company_name,
            od.quantity * od.unit_price AS sale_total,
            AVG(od.quantity * od.unit_price) OVER() AS avg_sale_total,
            CASE
                WHEN (od.quantity * od.unit_price) > (AVG(od.quantity * od.unit_price) OVER())
                    THEN 'High'
                ELSE 'Low'
            END AS sale_category
    FROM customers c
    JOIN orders o ON c.customer_id = o.customer_id
    JOIN order_details od ON o.order_id = od.order_id
)

SELECT  company_name,
        (COUNT(sale_category) FILTER(WHERE sale_category = 'High') * 100 / COUNT(sale_category))::numeric AS high_sale_pct
FROM customer_sales
GROUP BY company_name
ORDER BY high_sale_pct DESC
LIMIT 10;

## Tracking Percentage of Sales for each Category
Now let's look at each category of our products to determine what percentage of our sales that category takes up. This will help us to determine which category of products we should be putting more effort into marketing and also help and also help inform our decisions on inventory management.

In [ ]:
%%sql
WITH category_sales AS
(SELECT c.category_name,
        SUM(od.quantity * od.unit_price) AS total_sales
    FROM categories c
    JOIN products p ON c.category_id = p.category_id
    JOIN order_details od ON p.product_id = od.product_id
    GROUP BY c.category_name
)

SELECT  category_name,
        ROUND((total_sales / SUM(total_sales) OVER())::numeric * 100, 2) || '%' AS sales_pct
FROM category_sales
ORDER BY total_sales DESC;

## Top Products in each Category
Now let's drill down a bit further into the product performance. Let's find the top three products in terms of sales for each category.

In [ ]:
%%sql
WITH product_sales AS 
(SELECT p.product_name,
        c.category_name,
        SUM(od.quantity * od.unit_price) AS total_sales
    FROM products p
    JOIN order_details od ON p.product_id = od.product_id
    JOIN categories c ON p.category_id = c.category_id
    GROUP BY p.product_name, c.category_name
)

SELECT *
FROM (SELECT  product_name,
            category_name,
            ROW_NUMBER() OVER(PARTITION BY category_name
                              ORDER BY total_sales DESC) AS sales_rank
        FROM product_sales) AS ranked_products
WHERE sales_rank <= 3;